@inherits LayoutComponentBase

<div class="page">
    <main class="full-width">

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .full-width {
        width: 100%;
    }

    .content {
        margin: auto;
        max-width: 960px; /* Adjust the width as needed */
        padding: 20px;
    }
</style>
